<!--applying NgModel directive on each of input fields which would create a form control object for each input field-->
<!--when we submit the form, we can read the value of the form as a one JSON object and then send it to firebase for persistence-->

<div class="row">
  <!--dividing page into 2 rows-->
  <div class="col-md-6">
    <!--dividing into 1 column on a medium screen with size 6 which equally intersects the screen into half...bootstrap divides page into 12 columns-->
    <!-- this is the LEFT partition-->

    <form #f="ngForm" (ngSubmit)="save(f.value)">
      <!--#f will help as to call a form object..ex: f.price-->

      <div class="form-group">
        <label for="title">Title</label>
        <input #title="ngModel" ngModel name="title" id="title" type="text" class="form-control" autocomplete="off" required>
        <!--anything with #name can be used as an object...ex: title.touched, etc-->
        <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
          Title is required!
        </div>
      </div>


      <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group">
          <span class="input-group-text">$</span> <!-- added this using forms->input group from getbootstrap.com-->
          <input #price="ngModel" ngModel name="price" id="price" type="number" class="form-control" required [min]="0">
          <!--to use this validations, install ng2-validation package on googling-->
        </div>
        <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
          <div *ngIf="price.errors.required">
            Price is required!
          </div>

          <div *ngIf="price.errors.min">
            Price must be $0 or higher
          </div>

        </div>
      </div>


      <div class="form-group">
        <label for="category">Category</label>
        <select #category="ngModel" ngModel name="category" id="category" class="form-control" required>
          <option value=""></option>
          <option *ngFor="let c of categories$ | async" [value]="c.key"> {{ c.name }} </option>
          <!-- we're using [] property binding here to set to 'key'-->
          <!-- every object in firebase has 'key' property which is a unique identifier for that object....here c.$key would be each category name like bread, fruits, etc. -->
        </select>
        <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
          Category is required!
        </div>
      </div>


      <div class="form-group">
        <label for="imageUrl">Image URL</label>
        <input #imageUrl="ngModel" ngModel name="imageUrl" id="imageUrl" type="text" class="form-control" autocomplete="off" required url>
        <!--here imageUrl can be used for data binding...we use #name objects for data binding-->
        <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
          <div *ngIf="imageUrl.errors.required">
            Image URL is required!
          </div>

          <div *ngIf="imageUrl.errors.url">
            Please enter a valid URL here
          </div>

        </div>
      </div>


      <button class="btn btn-primary">Save</button>


    </form>

  </div>



  <div class="col-md-6">
    <!--dividing into 1 column on a medium screen with size 6 which equally intersects the screen into half...bootstrap divides page into 12 columns-->
    <!-- this is the RIGHT partition...here we render a card to view the image and price tag-->

    <div class="card" style="width: 20rem;">
      <img [src]="imageUrl.value" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title"> {{title.value}} </h5>
        <p class="card-text"> {{price.value | currency:'USD':'symbol'}} </p>
      </div>
    </div>

  </div>

</div>
